@use '../../style' as s;

.page {
	padding: 24px;
	max-width: 720px;
	margin: 0 auto;

	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.10);

	display: flex;
	flex-direction: column;
	gap: 24px;
}
.title {
	font-size: 24px;
	color: #212529;
}
.form {
	display: grid;
	grid-template-columns: 5fr 1fr;
	gap: 12px;

	&__button {
		border-radius: 4px;
		border: 1px solid #0d6efd;
		background: #0d6efd;
		color: #fff;
		padding: 8px 16px;
		transition: opacity 0.7s;

		&:hover {
			opacity: 0.5;
		}
	}
	&__input {
		border-radius: 4px;
		border: 1px solid #ced4da;
		padding: 8px 16px;
		color: #212529;

		&::placeholder {
			color: #909294;
		}
	}
}


.task {
	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	& {
		display: grid;
		grid-template-columns: auto 1fr auto auto;
		gap: 12px;
		align-items: center;
		padding: 8px 0;
		border-bottom: 1px solid #d3dee9;
	}

	&__number {
		color: #212529;
		font-size: 14px;
	}

	&__text	{
		transition: opacity 0.7s;
		color: #212529;
		font-size: 16px;
	}

	&--done &__text {
		opacity: 0.5;
		text-decoration: line-through;
	}

	&__button {
		transition: opacity 0.7s;
		&:hover {
			opacity: 0.5;
		}

		height: 28px;
		width: 28px;
		background-size: cover;

		&--do {
			background-image: url('/svg/task_do.svg');
		}
		&--done {
			background-image: url('/svg/task_done.svg');
		}
		&--cancel {
			background-image: url('/svg/task_cancel.svg');
		}
	}
}